.main-rectangle {
  position: absolute;
  background: theme('colors.primary.400');
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px;
}

.dark-rentangle-1 {
  position: absolute;
  background: theme('colors.primary.500');
  box-shadow: inset 0px -3px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 0px;
}

.dark-rentangle-2 {
  position: absolute;
  background: theme('colors.primary.600');
  box-shadow: inset -3px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 0px 10px;
}

.dark-rentangle-3 {
  position: absolute;
  background: theme('colors.primary.700');
  box-shadow: inset 0px 3px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 10px 10px;
}

.light-rentangle-1 {
  position: absolute;
  background: theme('colors.primary.300');
  box-shadow: inset 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 10px 10px;
}
.light-rentangle-2 {
  position: absolute;
  background: theme('colors.primary.200');
  box-shadow: inset 3px 0px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 10px;
}
.light-rentangle-3 {
  position: absolute;
  background: theme('colors.primary.100');
  box-shadow: inset 0px -3px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px 10px 10px 0px;
}
