::-moz-selection {
  /* Code for Firefox */
  color: theme('colors.primary.400');
  background: theme('colors.foreground');
}

::selection {
  color: theme('colors.primary.400');
  background: theme('colors.foreground');
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
