.nav-item {
  position: relative;
}

.nav-item::before,
.nav-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: theme('colors.primary.700');
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

.nav-item::before {
  left: -8px;
  transform-origin: center top;
}

.nav-item:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

.nav-item::after {
  right: -8px;
  transform-origin: center bottom;
}

.nav-item:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}
