body {
  @apply bg-background;
  @apply text-content;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: 235 183 61;
    --content: 24 24 27;
    --background: 229 226 226;
    --foreground: 210 210 210;
    --edge: 200 200 200;
    --primary-main: 99 201 158;
    --primary-main-l1: 130 211 177;
    --primary-main-l2: 161 222 196;
    --primary-main-l3: 192 233 216;
    --primary-main-d1: 61 178 129;
    --primary-main-d2: 46 133 96;
    --primary-main-d3: 30 89 64;
  }

  html {
    font-family: Urbanist, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  @import './layout/scrollbar.css';
}

@layer components {
  @import './navigation/navItem.css';
  @import './display/tooltip.css';
  @import './layout/logo.css';
  @import './layout/icon.css';
  @import './inputs/button.css';
  @import './inputs/input.css';
  @import './display/typography.css';
}

.theme-dark {
  --accent: 37 99 235;
  --content: 229 226 226;
  --background: 24 24 27;
  --foreground: 39 39 42;
  --edge: 59 130 246;
}
